<html>
  <head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
    <title> is Monday a bank holiday? </title>
  </head>
  <body>
    <header>
    is Monday a bank holiday?
    </header>

    <p>
    <% if @next_monday.is_bank_holiday? %>
      <span class="answer"> Yes </span>
      <br>
      <span class="details">
        <%= @next_monday.date %> is <%= @next_monday.description %>.
      </span>
    <% else %>
      <span class="answer"> No </span>
      <br>
      <span class="details">
        the next bank holiday is <b><%= @next_monday.date %></b>, <%= @next_monday.description %>.
      </span>
    <% end %>
    </p>
    <footer>
    <div class="sharing">
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    </footer>
  </body>
</html>
